@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

body{
    background-color: rgb(226, 43, 202);
    color:black;
    font-family: "Arimo", sans-serif;
}


.cabecalho{
     background-color:aqua;
    text-align:center;
    padding:30px;
}  