@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

body{
    background-color: rgb(45, 57, 219);
    color:black;
    font-family: "Arimo", sans-serif;
}


.cabecalho{
     background-color:rgb(0, 132, 255);
    text-align:center;
    padding:30px;
}
  .cabecalho {   
    font-size: 26px; 
 }
 img{  
    width: 120px;
    height: 120px;
 }
main{  
  max-width: 800px ;
  margin: 0 auto ;
padding: 16px ;
}  